<%- include('./partials/header') %>

<!-- Display flash messages -->
<% if (messages.success) { %>
<div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500 shadow-lg z-50">
  <%= messages.success %>
</div>
<% } %>

<div class="w-full min-h-screen flex">
  <!-- Sidebar -->
  <div class="w-[20%] h-full fixed top-0 left-0 py-20 px-10 bg-gray-100">
    <div class="flex items-center gap-2">
      <h3 class="text-lg font-semibold text-gray-700">Sort by</h3>
      <form action="/shop" class="ml-3">
        <select class="border-[1px] px-2 py-1 rounded-md" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-10">
      <a class="block w-fit mb-2 text-blue-600 hover:underline" href="">New Collection</a>
      <a class="block w-fit mb-2 text-blue-600 hover:underline" href="">All Products</a>
      <a class="block w-fit mb-2 text-blue-600 hover:underline" href="">Discounted Products</a>
    </div>
    <div class="mt-20">
      <h4 class="text-lg font-semibold text-gray-700">Filter by:</h4>
      <a class="block w-fit mb-2 text-blue-600 hover:underline" href="">Availability</a>
      <a class="block w-fit mb-2 text-blue-600 hover:underline" href="">Discount</a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="ml-[21%] py-20 w-[80%] p-10 overflow-y-auto">
    <div class="flex flex-wrap justify-start align-center gap-5">
      <% products.forEach(function(product){ %>
      <div class="w-[calc(25%-1.25rem)] bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="w-full h-52 bg-gray-200">
          <img class="w-full h-full object-cover transform transition-transform duration-300 hover:scale-105" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" />
        </div>
        <div class="flex justify-between items-center px-4 py-4">
          <div>
            <h3 class="text-md font-semibold text-gray-800"><%= product.name %></h3>
            <h4 class="text-md font-bold text-gray-600">₹ <%= product.price %></h4>
          </div>
          <a class="w-8 h-8 flex items-center justify-center rounded-full bg-blue-500 text-white shadow-md" href="/addtocart/<%= product._id %>">
            <i class="ri-add-line"></i>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>